ukbb_cardiac/*
data/*
**/*.snplist
**/Moab.*
**/*~
**/*zip
**/*.tiff
**/*gz
**/*err
.DS_Store
**/*.Rproj
**/*.RData
**/*.Rhistory
**/*log
**/eur_w_ld_chr*
**/header
**/results/*
**/rsidIncl
modules/gwas_w_bolt_v2_200420/bolt.in_plink_but_not_imputed.FID_IID.452433.txt
modules/flashpca_200419/genPCA/
doc/manuscript/
modules/metaXcan_191202/*
modules/ldScoreRegression_191126/data/*
modules/analyseImages_200220/trained_model/*
modules/analyseImages_200220/results/*/
modules/subsetGenotypes_191108/rsidLists/
modules/subsetGenotypes_191108/rsidIncl/
modules/subsetGenotypes_191108/sanityCheck/
**/ukb43247_cal_chr1_v2_s488288.version.fam
modules/h2_bolt_lmm_191117/modelSnps
modules/clumping_191129/glist-hg19
modules/gwas_w_bolt_191128/bolt.in_plink_but_not_imputed.FID_IID.459745.txt
doc/refs/
modules/gwas_w_plink_191117/results_septum
modules/subsetGenotypes_191108/testDir/
.Rproj.user
modules/extrct_atrialVol_200225/results/
modules/h2_bolt_200510/h2results/
modules/h2_bolt_200510/modelSnps
ukb43247_cal_chr1_v2_s488288.version.fam
bolt.in_plink_but_not_imputed.FID_IID.448525.txt
**/data/*
**/*.[oe][0-9][0-9]*
modules/depict_200518/src/*
modules/depict_200518/results/*
modules/gsmr_200520/subsetGenotypes/*
modules/gsmr_200520/mtCojoResults/*
modules/depict_200518/background/*
*badsnps
*pleio_snps
